certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
idna==3.7
joblib==1.4.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
requests==2.32.2
six==1.16.0
textblob==0.18.0.post0
tqdm==4.66.4
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
urwid==2.6.12
vaderSentiment==3.3.2
vander==0.1
wcwidth==0.2.13
xlrd==2.0.1
